.line{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.line .play{
    position:fixed;
    z-index:1;
    width:100%;
    background:#fff;
    line-height:50px;
    font-size:15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
}
.line .play .fromto{
	height: 75px;
	margin: 5px auto;
}
.play .fromto cover-view:last-child{
	margin-top:5px;
}
.play .fromto cover-view{
	height: 35px;
	padding-left: 10px;
	line-height: 35px;
	width:70%;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 18px;
	margin-left: 10px;
}
.line .play .linetype{
	height: 40px;
	display:flex;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.play .linetype cover-view{
    flex: 1;
    text-align: center;
    line-height: 40px;
    color: #000;
}
.line .play .active{
    background: #396de5;
    color: #fff;
}
.line .bottom{
    height: 80px;
}
.line .bottom swiper{
    height:80px;
    width: 100%;
    background: #fff;
}
.line .bottom swiper swiper-item{
    display: flex;
}
.line .bottom .money{
    height:30px;
    line-height:30px;
    color:#999;
    font-size:15px;
}
.line .bottom .time{
    height:50px;
    line-height:50px;
    font-size:18px;
    font-weight:600;
}